<div class="collection-card">
  <img class="collection-card__image" src="/assets/{{collection.image}}" alt="{{collection.title}}"
    title="{{collection.title}}" loading="lazy">
  <figcaption class="collection-card__name">{{collection.title }}</figcaption>
</div>