<nav class="header-anchor">
    <ul class="header-anchor__list">
        <li class="header-anchor__item">
            <a class="header-anchor__link" href="#all-products">All products</a>
        </li>
        <li class="header-anchor__item">
            <a class="header-anchor__link" href="#collections">Collections</a>
        </li>
    </ul>
</nav>