<nav class="header-payment">
    <span class="header-payment__text">We Accept</span>
    <ul class="payment-list">
        {% for link in settings['header'].settings.links %}
        <li>
            <a href="">
                <img class="payment-list__image" src="/assets/{{link.image}}" alt="{{link.label}}" title="{{link.label}}" width="26" height="26"
                    loading="lazy">
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>