<nav class="header-anchor">
    <ul class="header-anchor__list">
        <li class="header-anchor__item">
            <a class="header-anchor__link" href="">All products</a>
        </li>
        <li class="header-anchor__item">
            <a class="header-anchor__link" href="">Collections</a>
        </li>
    </ul>
</nav>