<section class="marquee">
    <div class="marquee__container">
        {% for i in (1..20) %}
        <div class="marquee__item">
            <img class="marquee__icon" src="/assets/star.svg" alt="" title="" width="80" height="80" loading="lazy">
            <span class="marquee__text">{{text | upcase}}</span>
        </div>
        {% endfor %}
    </div>
</section>