@use "../variables";

@layer components {
    .marquee {
        &__container {
            overflow: hidden;
            gap: 10px;
            @include variables.spacing(padding-top, sm);
            @include variables.spacing(padding-bottom, sm);
            @include variables.flex($align: center);

            @include variables.respond-to(lg, min) {
                gap: 20px;
            }
        }

        &__item {
            display: grid;
            align-items: center;
            grid-template-columns: 80px auto;
            gap: 10px;

            @include variables.respond-to(lg, min) {
                grid-template-columns: 60px auto;
                gap: 20px;
            }
        }

        &__icon {
            @include variables.respond-to(lg, min) {
                height: 60px;
                width: 60px;
            }
        }

        &__text {
            color: #fff;
            font-family: variables.$font-countach;
            font-size: 56px;
            line-height: 1;
            white-space: nowrap;

            @include variables.respond-to(lg, min) {
                font-size: 86px;
            }
        }
    }
}