@use "../variables";

@layer components {
    .marquee {
        &__container {
            overflow: hidden;
            @include variables.spacing(padding-top, sm);
            @include variables.spacing(padding-bottom, sm);
            @include variables.flex($align: center);
        }

        &__item {
            display: grid;
            align-items: center;
            grid-template-columns: 80px auto;
            gap: 10px;
            animation: translate-xn 12s linear infinite;
            padding-right: 10px;

            @include variables.respond-to(lg, min) {
                grid-template-columns: 60px auto;
                gap: 20px;
                padding-right: 20px;
            }
        }

        &__icon {
            @include variables.respond-to(lg, min) {
                height: 60px;
                width: 60px;
            }
        }

        &__text {
            white-space: nowrap;
        }
    }
}