@use "../variables";

@layer components {
    .product-card {
        display: inline-grid;
        grid-template-columns: 1fr auto;
        gap: 20px 10px;
        width: max-content;

        &--hidden {
            @include variables.respond-to(lg, min) {
                display: none;
            }
        }

        &__figure {
            cursor: pointer;
            border: 3px solid variables.color(secondary, 500);
            border-radius: 4px;
            display: inline-block;
            overflow: hidden;
            grid-area: auto / 1 / auto / span 2;
            position: relative;
            height: max-content;
            width: max-content;
        }

        &__figure:hover &__image {
            transform: scale(1.1);
        }

        &__image {
            display: block;
            object-fit: cover;
            transition: transform .5s ease;

            @media (max-width: 990px) {
                height: 285px;
                width: 220px;
            }
        }

        &__name {
            color: #fff;
            font-size: 14px;
            font-weight: normal;
        }

        &__price {
            color: #fff;
            font-size: 14px;
        }

        &__tags {
            gap: 8px;
            z-index: 1;
            @include variables.flex($wrap: wrap);
            @include variables.spacing(padding, sm);
            @include variables.position($bottom: 0, $left: 0, $right: 0);
        }
    }
}