@font-face {
    font-family: 'Aeonik';
    src: url('./fonts/aeonik-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'Aeonik';
    src: url('./fonts/aeonik-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Countach';
    src: url('./fonts/countach-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}