/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/
/* Reset CSS */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, ol {
    list-style-type: none;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Countach";
  src: url("./fonts/countach-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@layer layout {
  .container-limit {
    max-width: 1921px;
    margin: 0 auto;
    padding-inline: 15px;
  }
  @media (min-width: 991px) {
    .container-limit {
      padding-inline: 30px;
    }
  }
}
@layer layout {
  .header {
    height: 106px;
    position: relative;
    z-index: 0;
  }
  @media (min-width: 991px) {
    .header {
      height: 112px;
    }
  }
  .header--active::before {
    background-color: #762bfb;
  }
  .header--active .hamburguer path {
    stroke: white;
  }
  .header--active .hamburguer path:nth-child(1) {
    transform: translate(18px, -3px) rotate(45deg);
  }
  .header--active .hamburguer path:nth-child(2) {
    transform: translate(-13px, 18px) rotate(-45deg);
  }
  .header:not(.header--active) .header__dropdown {
    transform: translateX(-100%);
  }
  .header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    transition: background-color 0.5s;
  }
  .header__container {
    position: fixed;
    width: 100%;
  }
  .header__fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  @media (min-width: 991px) {
    .header__fixed {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .header__section {
    display: flex;
    align-items: center;
  }
  .header__section:nth-child(1) {
    gap: 10px;
  }
  .header__section:nth-child(2) {
    justify-content: center;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(2) {
      display: none;
    }
  }
  .header__section:nth-child(3) {
    justify-content: flex-end;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(3) .header-anchor {
      display: none;
    }
  }
  @media (max-width: 639px) {
    .header__logo {
      height: 30px;
      width: 83px;
    }
  }
  .header__dropdown {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 15px;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 72px;
    bottom: 0;
    transition: transform 0.5s;
  }
  @media (min-width: 991px) {
    .header__dropdown {
      display: none;
    }
  }
  .header-payment {
    align-items: center;
    background-color: #151515;
    border-radius: 30px;
    border: 1px solid #762bfb;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
  }
  .header-payment__text {
    color: #fff;
    font-size: 12px;
  }
  .header-anchor {
    margin-right: 10px;
  }
  @media (max-width: 990px) {
    .header-anchor {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: 991px) {
    .header-anchor__list {
      display: flex;
      gap: 10px;
    }
  }
  .header-anchor__link {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  @media (max-width: 990px) {
    .header-anchor__link {
      font-size: 40px;
      font-family: "Countach", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .header-dropdown {
    background-color: #151515;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
  }
  @media (max-width: 990px) {
    .header-dropdown {
      display: flex;
    }
  }
  .header-dropdown__link {
    color: #fff;
    font-size: 14px;
  }
  .hamburguer {
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
  @media (min-width: 991px) {
    .hamburguer {
      display: none;
    }
  }
  .hamburguer path {
    transition: transform 0.5s;
  }
}
@layer layout {
  .footer__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (min-width: 991px) {
    .footer__container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1201px) {
    .footer__container {
      grid-template-columns: 1fr 3fr 1fr;
      gap: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(1) {
      grid-area: auto/1/auto/span 2;
    }
  }
  @media (min-width: 1201px) {
    .footer__section:nth-child(1) {
      grid-area: auto/2/auto/span 1;
    }
  }
  @media (min-width: 991px) and (max-width: 1200px) {
    .footer__section:nth-child(2) {
      grid-area: 2/2/auto/span 1;
    }
  }
  @media (max-width: 990px) {
    .footer__section:nth-child(2) .social-networks {
      display: none;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(3) {
      grid-area: 2/1/auto/span 1;
    }
  }
  @media (min-width: 1201px) {
    .footer__section:nth-child(3) {
      grid-area: 1/1/auto/span 1;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(3) .social-networks {
      display: none;
    }
  }
  .footer-mapsite {
    margin-bottom: 16px;
  }
  @media (min-width: 991px) {
    .footer-mapsite {
      margin-inline: auto;
      max-width: 600px;
      text-align: center;
    }
  }
  @media (min-width: 991px) {
    .footer-mapsite__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
  }
  .footer-mapsite__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer-mapsite__link {
    color: #fff;
    display: block;
    font-size: 24px;
  }
  @media (min-width: 991px) {
    .footer-legal {
      margin-inline: auto;
      text-align: center;
      max-width: 400px;
    }
  }
  @media (min-width: 991px) {
    .footer-legal__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
  }
  .footer-legal__item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .footer-legal__link {
    color: #fff;
    display: block;
    font-size: 12px;
  }
  .footer-payment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
  }
  @media (min-width: 991px) {
    .footer-payment {
      margin-top: 40px;
      margin-inline: auto;
      max-width: max-content;
    }
  }
  .footer-payment__text {
    color: #fff;
    font-size: 12px;
  }
  @media (max-width: 990px) {
    .footer-brand {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      gap: 30px;
      margin-top: 40px;
    }
  }
  @media (min-width: 991px) {
    .footer-brand {
      max-width: 200px;
    }
  }
  @media (min-width: 991px) {
    .footer-brand__section:nth-child(1) {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 990px) {
    .footer-brand__section:nth-child(3) {
      grid-area: auto/1/auto/span 2;
    }
  }
  .footer-brand__text {
    color: #fff;
    font-size: 12px;
  }
  @media (max-width: 990px) {
    .newsletter {
      margin-top: 40px;
    }
  }
  @media (min-width: 991px) {
    .newsletter {
      margin-left: auto;
      max-width: 220px;
    }
  }
  .newsletter__field {
    border: none;
  }
  .newsletter__label {
    color: #fff;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .newsletter__input {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 40px;
  }
  .newsletter__input input {
    border: none;
    background-color: #1c1c1c;
    color: #9CA3AF;
    font-size: 14px;
    padding: 15px;
    height: 100%;
    width: 100%;
  }
  .newsletter__input img {
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    position: absolute;
  }
  @media (min-width: 991px) {
    .social-networks {
      margin-top: 45px;
    }
  }
  @media (min-width: 991px) {
    .social-networks__list {
      display: flex;
      justify-content: flex-end;
    }
  }
  .social-networks__link {
    display: block;
  }
  .social-networks__item {
    color: #fff;
    font-size: 12px;
    padding: 8px 0;
    text-align: end;
  }
  @media (min-width: 991px) {
    .social-networks__item {
      padding: 8px;
      text-align: center;
    }
  }
}
@layer components {
  .cart {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .cart {
    background-color: #762bfb;
    border-radius: 4px;
    padding: 8px;
  }
}
@layer components {
  .payment-list {
    flex: 1;
    display: flex;
    gap: 10px;
  }
  .payment-list__image {
    max-width: none;
  }
}
@layer components {
  .top-bar {
    background-color: #762bfb;
  }
  .top-bar__container {
    display: flex;
    overflow: hidden;
    padding: 8px;
    gap: 10px;
  }
  .top-bar__item {
    display: grid;
    grid-template-columns: 17px auto;
    gap: 10px;
  }
  .top-bar__text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
  }
}
@layer reset, components, layout;
@layer reset {
  body {
    font-family: "Aeonik", sans-serif;
    background: #1c1c1c url("./assets/texture.png") repeat;
  }
}
