/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/
/* Reset CSS */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  ol {
    list-style-type: none;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Countach";
  src: url("./fonts/countach-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@keyframes translate-xn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@layer utils {
  .container-limit {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
  }
  @media (min-width: 991px) {
    .container-limit {
      padding: 32px;
    }
  }
  .container-limit-x {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 16px;
  }
  @media (min-width: 991px) {
    .container-limit-x {
      padding-inline: 32px;
    }
  }
}
@layer layout {
  .header {
    height: 106px;
    position: relative;
    z-index: 5;
  }
  .header--active::before {
    background-color: #762bfb;
  }
  .header--active .hamburguer path {
    stroke: white;
  }
  .header--active .hamburguer path:nth-child(1) {
    transform: translate(18px, -3px) rotate(45deg);
  }
  .header--active .hamburguer path:nth-child(2) {
    transform: translate(-13px, 18px) rotate(-45deg);
  }
  .header:not(.header--active) .header__dropdown {
    transform: translateX(-100%);
  }
  .header--intersected .header__fixed {
    backdrop-filter: blur(10px);
    background-color: rgba(115, 115, 115, 0.5);
  }
  @media (min-width: 991px) {
    .header {
      height: 112px;
    }
  }
  @media (max-width: 990px) {
    .header::before {
      content: "";
      height: 100%;
      width: 100%;
      z-index: -1;
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      transition: background-color 0.5s;
    }
  }
  .header__container {
    position: fixed;
    width: 100%;
  }
  .header__fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }
  @media (min-width: 991px) {
    .header__fixed {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .header__section {
    display: flex;
    align-items: center;
  }
  .header__section:nth-child(1) {
    gap: 10px;
  }
  .header__section:nth-child(2) {
    justify-content: center;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(2) {
      display: none;
    }
  }
  .header__section:nth-child(3) {
    justify-content: flex-end;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(3) .header-anchor {
      display: none;
    }
  }
  @media (max-width: 639px) {
    .header__logo {
      height: 30px;
      width: 83px;
    }
  }
  .header__dropdown {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 106px;
    bottom: 0;
    transition: transform 0.5s;
  }
  @media (min-width: 991px) {
    .header__dropdown {
      display: none;
    }
  }
  .header-payment {
    background-color: #151515;
    border-radius: 30px;
    border: 1px solid #762bfb;
    gap: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  .header-payment__text {
    color: #fff;
    font-size: 12px;
  }
  .header-anchor {
    margin-right: 8px;
  }
  @media (max-width: 990px) {
    .header-anchor {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (min-width: 991px) {
    .header-anchor__list {
      display: flex;
      gap: 10px;
    }
  }
  .header-anchor__link {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  @media (max-width: 990px) {
    .header-anchor__link {
      font-size: 40px;
      font-family: "Countach", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .header-dropdown {
    background-color: #151515;
    border-radius: 10px;
    display: none;
    gap: 10px;
    z-index: 1;
    padding: 8px;
    position: absolute;
    top: 100%;
    right: 0;
  }
  @media (max-width: 990px) {
    .header-dropdown {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .header-dropdown__link {
    color: #fff;
    font-size: 14px;
  }
  .hamburguer {
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
  @media (min-width: 991px) {
    .hamburguer {
      display: none;
    }
  }
  .hamburguer path {
    transition: transform 0.5s;
  }
}
@layer layout {
  @media (min-width: 991px) {
    .footer__container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  @media (min-width: 1201px) {
    .footer__container {
      grid-template-columns: 1fr 3fr 1fr;
      gap: 30px;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(1) {
      grid-area: auto/1/auto/span 2;
    }
  }
  @media (min-width: 1201px) {
    .footer__section:nth-child(1) {
      grid-area: auto/2/auto/span 1;
    }
  }
  @media (min-width: 991px) and (max-width: 1200px) {
    .footer__section:nth-child(2) {
      grid-area: 2/2/auto/span 1;
    }
  }
  @media (max-width: 990px) {
    .footer__section:nth-child(2) .social-networks {
      display: none;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(3) {
      grid-area: 2/1/auto/span 1;
    }
  }
  @media (min-width: 1201px) {
    .footer__section:nth-child(3) {
      grid-area: 1/1/auto/span 1;
    }
  }
  @media (min-width: 991px) {
    .footer__section:nth-child(3) .social-networks {
      display: none;
    }
  }
  .footer-mapsite {
    margin-bottom: 16px;
  }
  @media (min-width: 991px) {
    .footer-mapsite {
      margin-inline: auto;
      max-width: 600px;
      text-align: center;
    }
  }
  @media (min-width: 991px) {
    .footer-mapsite__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }
  .footer-mapsite__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer-mapsite__link {
    color: #fff;
    display: block;
    font-size: 24px;
  }
  @media (min-width: 991px) {
    .footer-legal {
      margin-inline: auto;
      text-align: center;
      max-width: 400px;
    }
  }
  @media (min-width: 991px) {
    .footer-legal__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }
  .footer-legal__item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .footer-legal__link {
    color: #fff;
    display: block;
    font-size: 12px;
  }
  .footer-payment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
  }
  @media (min-width: 991px) {
    .footer-payment {
      margin-top: 32px;
      margin-inline: auto;
      max-width: max-content;
    }
  }
  .footer-payment__text {
    color: #fff;
    font-size: 12px;
  }
  @media (max-width: 990px) {
    .footer-brand {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      gap: 30px;
      margin-top: 32px;
    }
  }
  @media (min-width: 991px) {
    .footer-brand {
      max-width: 200px;
    }
  }
  @media (min-width: 991px) {
    .footer-brand__section:nth-child(1) {
      margin-bottom: 32px;
    }
  }
  @media (max-width: 990px) {
    .footer-brand__section:nth-child(3) {
      grid-area: auto/1/auto/span 2;
    }
  }
  .footer-brand__text {
    color: #fff;
    font-size: 12px;
  }
  @media (max-width: 990px) {
    .newsletter {
      margin-top: 32px;
    }
  }
  @media (min-width: 991px) {
    .newsletter {
      margin-left: auto;
      max-width: 220px;
    }
  }
  .newsletter__field {
    border: none;
  }
  .newsletter__label {
    color: #fff;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .newsletter__input {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 40px;
  }
  .newsletter__input input {
    border: none;
    background-color: #1c1c1c;
    color: #9CA3AF;
    font-size: 14px;
    padding: 16px;
    height: 100%;
    width: 100%;
  }
  .newsletter__input img {
    right: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  @media (min-width: 991px) {
    .social-networks {
      margin-top: 48px;
    }
  }
  @media (min-width: 991px) {
    .social-networks__list {
      display: flex;
      justify-content: flex-end;
    }
  }
  .social-networks__link {
    display: block;
  }
  .social-networks__item {
    color: #fff;
    font-size: 12px;
    padding: 8px;
    text-align: end;
  }
  @media (max-width: 990px) {
    .social-networks__item {
      padding-inline: 0;
    }
  }
  @media (min-width: 991px) {
    .social-networks__item {
      text-align: center;
    }
  }
}
@layer components {
  .cart, .button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .button {
    background-color: #762bfb;
    border-radius: 4px;
    color: #fff;
    font-family: "Countach", sans-serif;
    font-size: 24px;
    padding: 10px 35px;
    text-transform: uppercase;
  }
  .cart {
    background-color: #762bfb;
    border-radius: 4px;
    padding: 8px;
  }
  .cart--rounded {
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart__icon {
    min-width: 26px;
  }
}
@layer components {
  .payment-list {
    flex: 1;
    display: flex;
    gap: 10px;
  }
  .payment-list__image {
    max-width: none;
  }
}
@layer components {
  .top-bar {
    background-color: #762bfb;
  }
  .top-bar__container {
    display: flex;
    overflow: hidden;
    padding: 8px;
  }
  .top-bar__item {
    display: grid;
    grid-template-columns: 17px auto;
    gap: 10px;
    padding-right: 10px;
    animation: translate-xn 6s linear infinite;
  }
  .top-bar__text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
  }
}
@layer components {
  .marquee__container {
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
  }
  .marquee__item {
    display: grid;
    align-items: center;
    grid-template-columns: 80px auto;
    gap: 10px;
    animation: translate-xn 12s linear infinite;
    padding-right: 10px;
  }
  @media (min-width: 991px) {
    .marquee__item {
      grid-template-columns: 60px auto;
      gap: 20px;
      padding-right: 20px;
    }
  }
  @media (min-width: 991px) {
    .marquee__icon {
      height: 60px;
      width: 60px;
    }
  }
  .marquee__text {
    color: #fff;
    font-family: "Countach", sans-serif;
    font-size: 56px;
    line-height: 1;
    white-space: nowrap;
  }
  @media (min-width: 991px) {
    .marquee__text {
      font-size: 86px;
    }
  }
}
@layer components {
  .product-card {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    gap: 20px 10px;
    width: max-content;
  }
  @media (min-width: 991px) {
    .product-card--hidden {
      display: none;
    }
  }
  .product-card__figure {
    cursor: pointer;
    border: 3px solid #762bfb;
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    grid-area: auto/1/auto/span 2;
    position: relative;
    height: max-content;
    width: max-content;
  }
  .product-card__figure:hover .product-card__image {
    transform: scale(1.1);
  }
  .product-card__image {
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  @media (max-width: 990px) {
    .product-card__image {
      height: 285px;
      width: 220px;
    }
  }
  .product-card__name {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
  }
  .product-card__price {
    color: #fff;
    font-size: 14px;
  }
  .product-card__tags {
    gap: 8px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@layer components {
  .tag {
    cursor: default;
    color: #fff;
    background-color: #8e45fb;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
  }
}
@layer pages {
  @media (min-width: 991px) {
    .banner__container {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .banner__figure {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .banner__image {
    object-fit: cover;
    height: auto;
    min-height: 450px;
  }
  .banner__button {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  @media (max-width: 767px) {
    .banner__button {
      display: none;
    }
  }
}
@layer pages {
  .featured-products {
    position: relative;
  }
  .featured-products__anchor {
    pointer-events: none;
    transform: translateY(-150px);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .featured-products__container {
    text-align: center;
  }
  .featured-products__list {
    gap: 20px;
    justify-items: center;
    text-align: start;
  }
  @media (max-width: 990px) {
    .featured-products__list {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow: auto;
    }
  }
  @media (min-width: 991px) {
    .featured-products__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
  .featured-products__list::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  .featured-products__list::-webkit-scrollbar-thumb {
    background-color: #762bfb;
    border-radius: 4px;
  }
  .featured-products__list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  @media (max-width: 990px) {
    .featured-products__button {
      display: none;
    }
  }
}
@layer reset, layout, components, pages, utils;
@layer reset {
  body {
    font-family: "Aeonik", sans-serif;
    background: #1c1c1c url("./assets/texture.png") repeat;
  }
}
