/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/
/* Reset CSS */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, ol {
    list-style-type: none;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("./fonts/aeonik-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Countach";
  src: url("./fonts/countach-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@layer layout {
  .container-limit {
    max-width: 1921px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media (min-width: 991px) {
    .container-limit {
      padding: 0 30px;
    }
  }
}
@layer layout {
  .header {
    height: 72px;
  }
  @media (min-width: 991px) {
    .header {
      height: 78px;
    }
  }
  .header--active .header__container {
    background-color: #762bfb;
  }
  .header--active .hamburguer path {
    stroke: white;
  }
  .header--active .hamburguer path:nth-child(1) {
    transform: translate(18px, -3px) rotate(45deg);
  }
  .header--active .hamburguer path:nth-child(2) {
    transform: translate(-13px, 18px) rotate(-45deg);
  }
  .header:not(.header--active) .header__dropdown {
    transform: translateX(-100%);
  }
  .header__container {
    position: fixed;
    width: 100%;
  }
  @media (max-width: 990px) {
    .header__container {
      display: grid;
      grid-template-rows: auto 1fr;
      height: 100%;
      transition: background-color 0.5s;
    }
  }
  .header__fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  @media (min-width: 991px) {
    .header__fixed {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .header__section {
    display: flex;
    align-items: center;
  }
  .header__section:nth-child(1) {
    gap: 10px;
  }
  .header__section:nth-child(2) {
    justify-content: center;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(2) {
      display: none;
    }
  }
  .header__section:nth-child(3) {
    justify-content: flex-end;
  }
  @media (max-width: 990px) {
    .header__section:nth-child(3) .header-anchor {
      display: none;
    }
  }
  @media (max-width: 639px) {
    .header__logo {
      height: 30px;
      width: 83px;
    }
  }
  .header__dropdown {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 15px;
    justify-content: center;
    width: 100%;
    transition: transform 0.5s;
  }
  @media (min-width: 991px) {
    .header__dropdown {
      display: none;
    }
  }
  .header-payment {
    align-items: center;
    background-color: #151515;
    border-radius: 30px;
    border: 1px solid #762bfb;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
  }
  .header-payment__text {
    color: #fff;
    font-size: 12px;
  }
  .header-payment__list {
    flex: 1;
    display: flex;
    gap: 10px;
  }
  .header-anchor {
    margin-right: 10px;
  }
  @media (max-width: 990px) {
    .header-anchor {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: 991px) {
    .header-anchor__list {
      display: flex;
      gap: 10px;
    }
  }
  .header-anchor__link {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  @media (max-width: 990px) {
    .header-anchor__link {
      font-size: 40px;
      font-family: "Countach", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .header-dropdown {
    background-color: #151515;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
  }
  @media (max-width: 990px) {
    .header-dropdown {
      display: flex;
    }
  }
  .header-dropdown__link {
    color: #fff;
    font-size: 14px;
  }
  .hamburguer {
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
  @media (min-width: 991px) {
    .hamburguer {
      display: none;
    }
  }
  .hamburguer path {
    transition: transform 0.5s;
  }
}
@layer components {
  .cart {
    border: none;
    background-color: transparent;
  }
  .cart {
    background-color: #762bfb;
    border-radius: 4px;
    padding: 8px;
  }
}
@layer reset, components, layout;
@layer reset {
  body {
    font-family: "Aeonik", sans-serif;
    background: #1c1c1c url("./assets/texture.png") repeat;
  }
}
