@use "../../variables";

@layer pages {
    .banner {
        &__container {
            @include variables.respond-to(lg, min) {
                @include variables.spacing(padding-top, lg);
                @include variables.spacing(padding-bottom, lg);
            }
        }

        &__figure {
            border-radius: 4px;
            position: relative;
            overflow: hidden;
        }

        &__image {
            object-fit: cover;
            height: auto;
            min-height: 450px;
        }

        &__button {
            z-index: 1;
            @include variables.position($bottom: 30px, $left: 30px);

            @include variables.respond-to(md, max) {
                display: none;
            }
        }
    }
}