<section class="banner">
  <div class="banner__container container-limit">
    <div class="banner__figure">
      <img class="banner__image" src="/assets/{{settings['hero-banner'].settings.background_image}}" alt="" title=""
        width="1340" height="591" loading="lazy">
      <a class="button banner__button" href="{{settings['hero-banner'].settings.button_link}}">{{settings['hero-banner'].settings.button_text}}</a>
    </div>
  </div>
</section>
{% render 'marquee.liquid', text: settings['hero-banner'].settings.marquee_text %}