<section class="banner">
  <div class="banner__container container-limit">
    <div class="banner__figure">
      <img class="banner__image" src="/assets/{{settings['hero-banner'].settings.background_image}}" alt="" title="" width="1340" height="591" loading="lazy">
      <button class="button banner__button">{{settings['hero-banner'].settings.button_text}}</button>
    </div>
  </div>
</section>