<section class="featured-products">
  <div id="all-products" class="anchor"></div>
  <div class="featured-products__container">
    <div id="featured-products" class="featured-products__list container-limit">
      {% for product in products %}
      {% assign visible = forloop.index > 4 %}
      {% render 'product-card', product: product, hidden: visible %}
      {% endfor %}
    </div>
    {% if products.size > 4 %}
      <button id="more-products" class="button featured-products__button" data-hide="Hide all" data-show="View all">View all</button>
    {% endif %}
  </div>
</section>