<section class="featured-products">
  <div class="featured-products__container">
    <div class="featured-products__list container-limit">
      {% for product in products %}
      {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</section>