<section class="top-bar">
    <div class="top-bar__container">
        {% for i in (1..20) %}
        <div class="top-bar__item">
            <img class="top-bar__icon" src="/assets/star.svg" alt="" title="" width="17" height="17" loading="lazy">
            <span class="top-bar__text">FREE SHIPPING FOR ORDERS OVER $100</span>
        </div>
        {% endfor %}
    </div>
</section>