@layer layout {
    .container-limit {
        max-width: 1921px;
        margin: 0 auto;
        padding: 0 15px;
    
        @media (min-width: 991px) {
            padding: 0 30px;
        }
    }
}