@use "../variables";

@layer layout {
    .container-limit {
        max-width: 1400px;
        margin: 0 auto;
        padding-inline: 15px;

        @include variables.respond-to(lg, min) {
            padding-inline: 30px;
        }
    }
}