@use "../variables";

@layer layout {
    .footer {
        &__container {
            @include variables.respond-to(lg, min) {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                @include variables.spacing(padding-top, lg);
                @include variables.spacing(padding-bottom, lg);
            }

            @include variables.respond-to(xl, min) {
                grid-template-columns: 1fr 3fr 1fr;
                gap: 30px;
            }
        }

        &__section {
            &:nth-child(1) {
                @include variables.respond-to(lg, min) {
                    grid-area: auto / 1 / auto / span 2;
                }

                @include variables.respond-to(xl, min) {
                    grid-area: auto / 2 / auto / span 1;
                }
            }

            &:nth-child(2) {
                @media (min-width: 991px) and (max-width: 1200px) {
                    grid-area: 2 / 2 / auto / span 1;
                }

                .social-networks {
                    @include variables.respond-to(lg, max) {
                        display: none;
                    }
                }
            }

            &:nth-child(3) {
                @include variables.respond-to(lg, min) {
                    grid-area: 2 / 1 / auto / span 1;
                }

                @include variables.respond-to(xl, min) {
                    grid-area: 1 / 1 / auto / span 1;
                }

                .social-networks {
                    @include variables.respond-to(lg, min) {
                        display: none;
                    }
                }
            }
        }
    }

    .footer-mapsite {
        @include variables.spacing(margin-bottom, md);

        @include variables.respond-to(lg, min) {
            margin-inline: auto;
            max-width: 600px;
            text-align: center;
        }

        &__list {
            @include variables.respond-to(lg, min) {
                @include variables.flex($align: center, $justify: space-between);
                gap: 16px;
            }
        }

        &__item {
            @include variables.spacing(padding-top, md);
            @include variables.spacing(padding-bottom, md);
        }

        &__link {
            color: #fff;
            display: inline-block;
            font-size: 24px;

            &--active {
                border-bottom: 3px solid variables.color(secondary, 500)
            }
        }
    }

    .footer-legal {
        @include variables.respond-to(lg, min) {
            margin-inline: auto;
            text-align: center;
            max-width: 400px;
        }

        &__list {
            @include variables.respond-to(lg, min) {
                @include variables.flex($align: center, $justify: space-between);
                gap: 16px;
            }
        }

        &__item {
            @include variables.spacing(padding-top, xs);
            @include variables.spacing(padding-bottom, xs);
        }

        &__link {
            color: #fff;
            display: block;
            font-size: 12px;
        }
    }

    .footer-payment {
        @include variables.flex($align: center);
        gap: 10px;
        @include variables.spacing(margin-top, xxl);

        @include variables.respond-to(lg, min) {
            @include variables.spacing(margin-top, xl);
            margin-inline: auto;
            max-width: max-content;

        }

        &__text {
            color: #fff;
            font-size: 12px;
        }
    }

    .footer-brand {
        @include variables.respond-to(lg, max) {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            gap: 30px;
            @include variables.spacing(margin-top, xl);
        }

        @include variables.respond-to(lg, min) {
            max-width: 200px;
        }

        &__section {
            &:nth-child(1) {
                @include variables.respond-to(lg, min) {
                    @include variables.spacing(margin-bottom, xl);
                }
            }

            &:nth-child(3) {
                @include variables.respond-to(lg, max) {
                    grid-area: auto / 1 / auto / span 2;
                }
            }
        }

        &__text {
            color: #fff;
            font-size: 12px;
        }
    }

    .newsletter {
        @include variables.respond-to(lg, max) {
            @include variables.spacing(margin-top, xl);
        }

        @include variables.respond-to(lg, min) {
            margin-left: auto;
            max-width: 220px;
        }

        &__field {
            border: none;
        }

        &__label {
            color: #fff;
            display: block;
            font-size: 12px;
            @include variables.spacing(margin-bottom, sm);
        }

        &__input {
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            height: 40px;

            input {
                border: none;
                background-color: variables.color(primary, 900);
                color: #9CA3AF;
                font-size: 14px;
                @include variables.spacing(padding, md);
                height: 100%;
                width: 100%;
            }

            img {
                right: 10px;
                margin: auto;
                @include variables.position($top: 0, $bottom: 0);
            }
        }
    }

    .social-networks {
        @include variables.respond-to(lg, min) {
            @include variables.spacing(margin-top, xxl);
        }

        &__list {
            @include variables.respond-to(lg, min) {
                display: flex;
                justify-content: flex-end;
            }
        }

        &__link {
            display: block;
        }

        &__item {
            color: #fff;
            font-size: 12px;
            @include variables.spacing(padding, sm);
            text-align: end;

            @include variables.respond-to(lg, max) {
                @include variables.spacing(padding-inline, 0);
            }

            @include variables.respond-to(lg, min) {
                text-align: center;
            }
        }
    }
}